---
import { type CollectionEntry, getCollection } from 'astro:content'
import Prose from '../../components/Prose.astro'
import Page from '../../layouts/Page.astro'

export async function getStaticPaths() {
  const recipes = await getCollection('recipes')
  return recipes.map(recipe => ({
    params: { slug: recipe.slug },
    props: recipe,
  }))
}
type Props = CollectionEntry<'recipes'>

const recipe = {
  ...Astro.props,
  data: {
    ...Astro.props.data,
    description: `${Astro.props.data.title}, a cooking recipe by Maxence Poutord`,
  },
}
const { Content } = await recipe.render()
---

<Page {...recipe}>
  <Prose>
    <Content />
    <div class="mt-6">
      <a href="../">← Back to recipes</a>
    </div>
  </Prose>
</Page>
