---
import { getCollection } from 'astro:content'
import Layout from '../../components/Layout.astro'
import PageTitle from '../../components/PageTitle.astro'
import RecipeCard from '../../components/RecipeCard.astro'

const recipes = (await getCollection('recipes')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)
---

<Layout
  title="Max's kitchen"
  description={`My ${recipes.length} cooking recipes that I have published so far.`}
  seo={{
    type: 'article',
  }}
>
  <section>
    <PageTitle class="text-center font-bold dark:text-gray-100">
      Max's kitchen
    </PageTitle>
    <p
      class="mx-auto mb-6 max-w-[450px] text-center text-lg dark:text-gray-100"
    >
      Welcome to my culinary haven! I'm Max, a passionate foodie eager to share
      my favourite recipes. I hope you enjoy them as much as I do!
    </p>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {recipes.map((recipe) => <RecipeCard recipe={recipe} />)}
    </div>
  </section>
</Layout>
