---
import Layout from '../components/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'

import { projects } from '../content/projects'

const highlightedProjects = projects.filter(project => project.highlighted && !project.isDead);
const otherProjects = projects.filter(project => !project.isDead && !project.highlighted);
const deadProjects = projects.filter(project => project.isDead);
---

<Layout
  title="Portfolio – Projects & Experiments"
  description="A collection of applications and GitHub projects I’ve built."
  seo={{ type: 'website' }}
>
  <div class="mx-auto max-w-6xl">
    <h1
      class="mb-2 text-4xl font-bold text-gray-900 dark:text-white md:text-5xl"
    >
      Portfolio
    </h1>
    <p class="mb-8 text-lg text-gray-600 dark:text-gray-300">
      A collection of applications and GitHub projects I’ve built.
    </p>

    <h2 class="text-2xl font-bold mt-16 mb-8">Highlighted projects</h2>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mb-8">
      {highlightedProjects.map((project) => <ProjectCard project={project} />)}
    </div>

    <h2 class="text-2xl font-bold mt-16 mb-8">Other Applications</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {otherProjects.map((project) => <ProjectCard project={project} />)}
    </div>

    <h2 class="text-2xl font-bold mt-16">🪦 Graveyard</h2>
    <p class="mb-8 text-gray-600 dark:text-gray-300">Projects that are no longer maintained.</p>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {deadProjects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</Layout>
