---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
  href={href}
  class:list={[
    'py-4 px-2',
    'no-underline text-lg hover:text-blue-900 dark:text-white dark:hover:text-mainYellow',
    className,
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }
  a.active {
    font-weight: bolder;
    border-bottom-color: #ffdc4e;
  }
</style>
