---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
  lang?: string
  translations?: { url: string; lang: string }[]
  seo: {
    type: 'website' | 'article'
    ogImage?: string
  }
}

const { title, description, lang = 'en', translations = [], seo } = Astro.props
---

<html lang={lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      translations={[...translations, { url: Astro.url.toString(), lang }]}
      seo={seo}
    />
  </head>

  <body
    class="bg-gradient-to-b from-blue-50 to-[#f5f7f9] dark:bg-gray-600 dark:bg-gradient-to-b dark:from-gray-600"
  >
    <Header />
    <main
      class="m-0 mx-auto min-h-[70vh] w-full max-w-screen-xl px-4 py-12 text-gray-500 dark:text-gray-100"
    >
      <slot />
    </main>
    <Footer />
    <style is:global>
      * {
        transition: background 0.5s ease;
      }

      *::selection {
        background-color: #ffdc4e;
        color: #3e4047;
      }
    </style>
  </body>
</html>
